body {
}

.menu a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background: #334155;
}

.encouragement {
  margin-top: 30px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  line-height: 1.6;
}

/* LA LIGNE */
.linea-container {
  margin-top: 30px;
  background: #1e293b;
  border-radius: 12px;
  padding: 20px;
  overflow: hidden;
}

.linea-container iframe {
  width: 100%;
  height: 280px;
  border: none;
  background: transparent;
  display: block;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  h1 {
    font-size: 24px;
  }
}
